<!DOCTYPE html>
<html ng-app='APP'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>loop-to-tailrec</title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-sanitize.min.js'></script>
    <script src='main.js'></script>
    <style media="screen">

    </style>
  </head>
  <body>

      <h1>[ver. General] Convert a while-loop to a tail-recursive func</h1>
      <code ng-controller='codeCtrl'>

        Examples:
        <select ng-model='current_setting' ng-options="example_setting.name for example_setting in example_settings" ng-change='current_setting.func()'></select>

        <div style='border:solid 1px; padding: 10px'>
          <h2> // Input you a code using a loop</h2>

          def <input ng-model='func_name' placeholder='func name' size='8'>
          <span ng-show='type_params.length > 0'>[</span>
          <br>
          <span ng-bind-html='indent(1)'></span>
          <button ng-click='add_type_param()'>+ type param</button><br>
          <div ng-repeat='type_param in type_params'>
            <span ng-bind-html='indent(1)'></span>
            <input ng-model='type_param.name'> <button ng-click='remove_type_param_by_idx($index)'>remove</button>
            <span ng-hide='$last'>,</span>
          </div>
          <span ng-show='type_params.length > 0'>]</span>
          (<br>
          <span ng-bind-html='indent(1)'></span>
          <button ng-click='add_param()'>+ param</button><br>


          <div ng-repeat='param in params'>
            <span ng-bind-html='indent(1)'></span>
            <input ng-model='param.name' size='6' placeholder='param' >: <input ng-model='param.type' size='6' placeholder='type' >
            <button ng-click='remove_param_by_idx($index)'>remove</button>
            <span ng-hide='$last'>,</span>
          </div>

          ): <input ng-model="ret_type" placeholder="return-type" size='8'> =
          {<br>

          <span ng-bind-html='indent(1)'></span>
          <button ng-click='add_local_var()'>+ local var</button><br>

          <div ng-repeat='local_var in local_vars'>
            <span ng-bind-html='indent(1)'></span>
            var <input placeholder='name' ng-model='local_var.name' size='8'>
            :
            <input placeholder='type' ng-model='local_var.type' size='6'>
             =
            <input placeholder='initial' ng-model='local_var.init_value' size='6'>
            <button ng-click='remove_local_var_by_idx($index)'>remove</button>
          </div>

          <span ng-bind-html='indent(1)'></span>
          while(<input ng-model='while_cond' placeholder="condition">){<br>
            <!-- Update local vars -->
            <div ng-repeat='local_var in local_vars'>
              <span ng-bind-html='indent(2)'></span>
              val new{{to_first_upper(local_var.name)}} = <input ng-model='local_var.update_value'>
            </div>

            <!-- xx = newXx -->
            <div ng-repeat='local_var in local_vars'>
              <span ng-bind-html='indent(2)'></span>
              {{local_var.name}} = new{{to_first_upper(local_var.name)}}
            </div>

          <span ng-bind-html='indent(1)'></span>
          }<br>

          <span ng-bind-html='indent(1)'></span>
          <input ng-model='ret_val' placeholder='return value'><br>
        }<br>

      </div>

      <div style='border:solid 1px; padding: 10px; background-color: #F5F6CE'>
        <h2> // Output - Auto-generated tailrec</h2>
        // Scala(tailrec)<br>
        def {{func_name}}
        <span ng-show='type_params.length > 0'>[</span>
        <span ng-repeat='type_param in type_params'>
          {{type_param.name}}
          <span ng-hide='$last'>, </span>
        </span>
        <span ng-show='type_params.length > 0'>]</span>
        (
        <span ng-repeat='param in params'>
          {{param.name}}: {{param.type}}
          <span ng-hide='$last'>, </span>
        </span>
        ): {{ret_type}}
        = {<br>
          <span ng-bind-html='indent(1)'></span>
          import scala.annotation.tailrec<br>

          <span ng-bind-html='indent(1)'></span>
          @tailrec<br>

          <span ng-bind-html='indent(1)'></span>
          def _{{func_name}}(
          <span ng-repeat='local_var in local_vars'>
            {{local_var.name}}: {{local_var.type}}
            <span ng-hide='$last'>, </span>
          </span>
          ):
          {{ret_type}}
           =
          {<br>
          <span ng-bind-html='indent(2)'></span>
          if({{while_cond}}) _{{func_name}}(
            <span ng-repeat='local_var in local_vars'>
              {{local_var.update_value}}
              <span ng-hide='$last'>, </span>
            </span>
          )<br>
          <span ng-bind-html='indent(2)'></span>
          else {{ret_val}}<br>

          <span ng-bind-html='indent(1)'></span>
          }<br>

          <span ng-bind-html='indent(1)'></span>
          _{{func_name}}(
            <span ng-repeat='local_var in local_vars'>
                {{local_var.init_value}}
                <span ng-hide='$last'>, </span>
            </span>
          )<br>

        }
      </div>

      <div style='border:solid 1px; padding: 10px'>

        <h2>// Input confirmation</h2>

        def {{func_name}}
        <span ng-show='type_params.length > 0'>[</span>



        <span ng-repeat='type_param in type_params'>
          {{type_param.name}}
          <span ng-hide='$last'>,</span>
        </span>
        <span ng-show='type_params.length > 0'>]</span>
        (

        <span ng-repeat='param in params'>
          {{param.name}}: {{param.type}}
          <span ng-hide='$last'>,</span>
        </span>

        ): {{ret_type}}
        =
        {<br>

        <div ng-repeat='local_var in local_vars'>
          <span ng-bind-html='indent(1)'></span>
          var {{local_var.name}}: {{local_var.type}} = {{local_var.init_value}}
        </div>

        <span ng-bind-html='indent(1)'></span>
        while({{while_cond}}){<br>


          <!-- Update local vars -->
          <div ng-repeat='local_var in local_vars'>
            <span ng-bind-html='indent(2)'></span>
            val new{{to_first_upper(local_var.name)}} = {{local_var.update_value}}
          </div>

          <!-- xx = newXx -->
          <div ng-repeat='local_var in local_vars'>
            <span ng-bind-html='indent(2)'></span>
            {{local_var.name}} = new{{to_first_upper(local_var.name)}}
          </div>

        <span ng-bind-html='indent(1)'></span>
        }<br>

        <span ng-bind-html='indent(1)'></span>
        {{ret_val}}<br>
        }<br>

      </div>

      </code>
  </body>
</html>
